<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="easy_bookmark.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <easy_bookmark.My.MySettings>
            <setting name="Button1_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button2_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button2_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button2_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button2_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button3_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button3_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button3_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button3_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button4_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button4_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button4_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button4_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button5_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button5_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button5_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button5_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button6_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button6_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button6_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button6_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button7_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button7_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button7_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button7_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button8_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button8_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button8_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button8_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button9_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button9_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button9_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button9_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button10_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button10_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button10_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button10_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button11_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button11_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button11_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button11_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button12_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button12_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button12_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button12_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button13_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button13_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button13_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button13_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button14_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button14_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button14_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button14_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button15_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button15_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button15_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button15_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button16_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button16_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button16_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button16_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button17_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button17_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button17_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button17_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button18_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button18_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button18_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button18_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button19_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button19_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button19_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button19_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button20_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button20_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button20_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button20_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button21_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button21_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button21_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button22_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button22_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button22_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button22_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button23_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button23_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button23_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button23_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button21_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button24_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button24_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button24_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button24_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button25_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button25_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button25_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button25_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button26_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button26_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button26_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button26_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button27_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button27_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button27_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button27_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button28_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button28_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button28_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button28_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button29_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button29_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button29_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button29_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button30_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button30_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button30_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button30_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button31_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button31_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button31_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button31_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Button32_Hintergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button32_Vordergrundfarbe" serializeAs="String">
                <value />
            </setting>
            <setting name="Button32_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Button32_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Einstellungen_DarkLightmode" serializeAs="String">
                <value />
            </setting>
        </easy_bookmark.My.MySettings>
    </userSettings>
</configuration>